{% extends 'base.html.twig' %}

{% block title %}Modifier une information{% endblock %}

{% block body %}

<div class="center">

    <h1>Modifier une information</h1>

    <div class="card" style="width:100%; max-width:600px;">

        {{ form_start(form) }}

            <div style="margin-bottom:15px;">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div style="margin-bottom:15px;">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, {
                    'attr': {
                        'class': 'form-control',
                        'rows': 5
                    }
                }) }}
            </div>

            <button class="btn">Enregistrer</button>

        {{ form_end(form) }}

    </div>

    <br>

    <a href="{{ path('admin_informations') }}" class="btn">⬅ Retour</a>

</div>

{% endblock %}